.navigation {
    background-color: rgb(231, 227, 227);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.navigation ul {
    display: flex;
    align-items: center;
    
}

.navigation ul li {
    margin: 1.25em;
}

.navigation input {
    width: 20em;
    height: 2.5em;
    padding: 0.25em;
    outline: none;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
}

.navigation input:focus {
   background-color: rgb(231, 236, 243);
}

.navigation li:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .navigation li:active{
    transform: translateY(4px);
  }

